@import "tailwindcss";
@custom-variant hover (&:hover);


@theme inline {
  --color-background: #FFFFFF;
  --color-foreground: #0A0E14;
  --color-surface: #F8F9FA;
  --color-primary: #0AC4E0;
  --color-secondary: #0A0E14;
  --color-error: #EF4444;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: rgb(255, 255, 255);
  --foreground: #0A0E14;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
  overflow-x: hidden;
}
